.profile-container {
  width: 100%;
  max-width: 1180px;
  padding: 0 30px;
  margin: 32px auto;
}

.profile-container header {
  display: flex;
  align-items: center;
}

.profile-container header span {
  font-size: 20px;
  margin-left: 24px;
  color: #929292;
}

.profile-container header img {
  height: 64px;
}

.profile-container header a {
  width: 260px;
  margin-left: auto;
  margin-top: 0;
}

.profile-container header button {
  height: 60px;
  width: 60px;
  border-radius: 4px;
  border: 1px solid #929292;
  background: transparent;
  margin-left: 16px;
  cursor: pointer;
  transition: border-color 0.2s
}

.profile-container header button:hover {
  border-color: #E02041;
}

.profile-container h1 {
  margin-top: 80px;
  margin-bottom: 24px;
  color: #929292;
}

.profile-container ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
  list-style: none;
}

.profile-container ul li {
  background: #161616;
  padding: 24px;
  border-radius: 8px;
  position: relative;
}

.profile-container ul li button {
  position: absolute;
  right: 24px;
  top: 24px;
  border: 0;
  background: transparent;
  cursor: pointer;
  transition: opacity 0.2;
}

.profile-container ul li button:hover {
  opacity: 0.8;
}

.profile-container ul li strong {
  display: block;
  margin-bottom: 16px;
  color: #b4b4b4
}

.profile-container ul li p+strong {
  margin-top: 32px
}

.profile-container ul li p {
  color: #535353;
  font-size: 16px;
  line-height: 21px;
}